# virtualenv
.venv/
env/
__pycache__/
__pypackages__
*.pyc

# git
.git/
.gitignore

# docker
Dockerfile
docker-compose.yml
prod-compose.yml
dev-compose.yml
.dockerignore

# editor
.DS_Store
.idea/
.vscode/
*.log

# docs
docs/
README.md
*.md

# env files (sensitive)
.env
.env.*
!.env.template

# tests
.pytest_cache/

# ci/cd
.pre-commit-config.yaml