# Flask
SECRET_KEY=your-secret-key-here

# JWT
JWT_SECRET_KEY=your-jwt-secret-key-here

# Database
DB_USER_NAME=admin
DB_USER_PASSWORD=your-db-password-here
DB_NAME=flask-db
DB_PORT=5430

# Flask
FLASK_PORT=4999
FLASK_CONFIG=development